
.gradle/buildOutputCleanup/buildOutputCleanup.lock
build/classes/java/test/polimorfismo/inclusion/PolimorfismoInclusionTest$ObjectPrincipal.class
build/reports/tests/test/packages/polimorfismo.inclusion.html
