HELP.md
.gradle
**.gradle/**
.gradle/**
build/
build/**
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.gradle/7.1.1/fileHashes/fileHashes.lock
*.bin
.gradle/7.1.1/executionHistory/executionHistory.bin
*.lock
*.bin
*.lock
*.bin
*.lock
*.bin
*.lock
*.lock
*.html
*.bin
*.bin
